<div id="gift-subscription-boxes" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="box third">
                <h3>2 5lb bags per month</h3>
                <p>2 5lb bags each month of our single origin, small-batch roasted Colombian coffees.</p>
                <p class="price">$130</p>                
                <div class="center">
                    <a href="/" class="button button-main button-medium">Purchase Now</a>
                </div>
            </div>
            <div class="box third">
                <h3>3 5lb bags per month</h3>
                <p>3 5lb bags each month of our single origin, small-batch roasted Colombian coffees.</p>
                <p class="price">$190</p>                
                <div class="center">
                    <a href="/" class="button button-main button-medium">Purchase Now</a>
                </div>
            </div>
            <div class="box third">
                <h3>4 5lb bags per month</h3>
                <p>4 5lb bags each month of our single origin, small-batch roasted Colombian coffees</p>
                <p class="price">$250</p>                
                <div class="center">
                    <a href="/" class="button button-main button-medium">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>