<div id="cta-gift-subscriptions" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="half half-text-left"><h3>Send them the gift of incredible coffee</h3>
                <p>Delivered fresh to their door. Choose from 3, 6 or 12 month plans.</p>
                <div class="left">
                    <select class="select-quantity-dropdown" name="gift-subscription-product" id="gift-subscription-dropdown">
                        <option value="3">3 months for $60</option>
                        <option value="6">6 months for $120</option>
                        <option value="12">12 months for $240</option>
                    </select>
                    <a id="cta-add-to-cart" href="https://plasso.com/s/zYdw1vzFkc/product/3_month_gift_sub" class="button button-secondary-white-filled button-large">Add to Cart</a>
                </div>
            </div>
            <div class="half">
                <img src="/assets/gifs/your-quest-awaits-gift-subscriptions.gif" title=""/>
            </div>
        </div>
    </div>
</div>