<div id="cta-business-subscriptions" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="half half-text-left"><h3>Get started now</h3>
                <p>Delivered fresh to your workspace.</p>
                <div class="left">
                    <select name="gift-subscription-product" id="gift-subscription-dropdown">
                        <option value="1 5lb bags">1 5lb bag for $70</option>
                        <option value="2 5lb bags">2 5lb bags for $130</option>
                        <option value="3 5lb bags">3 5lb bags for $190</option>
                        <option value="4 5lb bags">4 5lb bags for $250</option>
                    </select>
                    <a href="/" class="button button-secondary-white-filled button-large">Purchase</a>
                </div>
            </div>
            <div class="half">
                <img src="/assets/images/temp-image-cta@2x.png" title=""/>
            </div>
        </div>
    </div>
</div>