<div id="cta" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="half half-text-right">
                <h3>Your coffee quest awaits</h3>
                <p>Get the best Colombian coffees each and every month delivered to your doorstep.</p>
                <select class="select-quantity-dropdown" name="gift-subscription-product" id="individual-subscription-dropdown">
                    <option value="1">1 bag/month for $20</option>
                    <option value="2">2 bags/month for $30</option>
                    <option value="3">3 bags/month for $45</option>
                    <option value="4">4 bags/month for $60</option>
                </select>
                <a id="cta-add-to-cart" href="https://plasso.com/s/pZmkBplK2G/plan/individual_sub" data-pl-units="1" class="button button-secondary-white-filled button-large">Add to Cart</a>
                <div class="clear"></div>
            </div>
            <div class="half">
                <img src="/assets/gifs/your-quest-awaits-128.gif" title=""/>
            </div>
            
        </div>
    </div>
</div>