<div id="cta" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="half">
                <img src="/assets/images/cta-main@2x.png" title=""/>
            </div>
            <div class="half">
                <h3>Your coffee quest awaits</h3>
                <p>Something about getting the best coffee each and every month delivered to your doorstep.</p>
                <a href="/" class="button button-secondary-white-filled button-large">Join Now</a>
            </div>
        </div>
    </div>
</div>