<div id="cta" class="outer">
    <div class="inner">
        <div class="expand">
            <div class="half">
                <img src="/assets/images/temp-image-cta@2x.png" title=""/>
            </div>
            <div class="half half-text-right">
                <h3>Your coffee quest awaits</h3>
                <p>Get the best Colombian coffees each and every month delivered to your doorstep.</p>
                <a href="/" class="button button-secondary-white-filled button-large">Join Now</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>