<!-- header here -->
<header class="outer">
        <div class="inner">
            <a href="/" id="logo"></a>
            <div id="menu-button">Menu</div>
            <div id="menu-button-close">Close</div>
            <nav>
                <a href="/how-it-works">How it works</a>
                <a href="/pricing">Pricing</a>
                <a href="/reviews">Reviews</a>
                <a href="/gift-subscriptions">Gift subscriptions<span class="new">New</span></a>
                <a href="/business-plans">Business Plans</a>
                <a class="join-now show-join-now-modal" href="/pricing">Join now</a>
                <a href="/" id="cart-toggle" data-pl-cart-toggle><span class="cart-icon"></span><span data-pl-cart-total></span></a>
            </nav>
        </div>
</header>