<!-- header here -->
<header class="outer">
        <div class="inner">
            <a href="/" id="logo"></a>
            <div id="menu-button">Menu</div>
            <div id="menu-button-close">Close</div>
            <nav>
                <a href="/how-it-works">How it works</a>
                <a href="/pricing">Pricing</a>
                <a href="/reviews">Reviews</a>
                <a href="/gift-subscriptions">Gift subscriptions<span class="new">New</span></a>
                <a href="/business-plans">Business Plans</a>
                <a class="join-now" href="https://plasso.com/s/pZmkBplK2G/plan/monthly-subscription">Join now</a>
                <a id="cart-icon" data-pl-cart-toggle data-pl-cart-total>Cart</a>
            </nav>
        </div>
</header>