<!-- header here -->
<header class="outer">
        <div class="inner">
            <a href="/" id="logo"></a>
            <div id="menu-button">Menu</div>
            <div id="menu-button-close">Close</div>
            <nav>
                <a href="/how-it-works">How it works</a>
                <a href="/pricing">Pricing</a>
                <a href="/reviews">Reviews</a>
                <a href="/gift-subscriptions">Gift subscriptions<span class="new">New</span></a>
                <a href="/about">About us</a>
                <a href="/join-now">Join now</a>
            </nav>
        </div>
</header>