<div id="hero-reviews" class="outer hero-sub">
    <div class="hero-center">
    <div class="inner">
        <h1>Quest Coffee Club Reviews</h1>
        <div class="center">
            <div class="stars stars-4-8"></div>
            <p class="inline">4.9/5
            </p>
        </div>
        <div class="center" id="reviews-total">
            <p class="small">10 reviews <div class="details-i"></div></p>
        </div>
        <div class="reviews-explanation"><div class="tail"></div>Reviews are requested of all our subscribers via email. All reviews are published here if given permission by it's author.
        </div>
    </div>
    </div>
    <div class="hero-cover"></div>
    <div class="hero-background"></div>
</div>