<div id="hero-landing-biz-gigster" class="outer hero">
    <div id="scroll-arrow"></div>
    <div class="hero-center">
    <div class="inner">
        <h1>Single origin, small-batch roasted Colombian coffee delivered to your door each month</h1>
        <div class="center">
            <a href="/pricing" class="button button-main-white button-with-arrow button-large button-center show-join-now-modal">Join Now</a>
        </div>
    </div>
    </div>
    <div class="hero-cover"></div>
    <div class="hero-background"></div>
</div>