.box {
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 16px;
    
    img {
        width: 194px;
        height: 176px;
    }
    
    p {
        color: #292929;
        margin: 20px 40px 0 40px;
        padding-bottom: 40px;
    }
}

.box-review {
    padding: 10px 0 10px 0;
    margin-bottom: 40px;
    
    p {
        padding-bottom: 10px;
    }
    
    .person {
        
        p {
            font-size: 20px;
            color: #B4B4B4;
            line-height: 28px;
            padding-bottom: 20px;
        }
    }
    
    .rating {
        margin-right: 40px;
        .stars {
            float: right;
            width: 106px;
            height: 17px;
            background-size: 106px 17px;
            margin: 20px 0 11px 0;
        }
        .stars-0 { background-image: url(/assets/images/stars-0@2x.png); }
        .stars-1 { background-image: url(/assets/images/stars-1@2x.png); }
        .stars-2 { background-image: url(/assets/images/stars-2@2x.png); }
        .stars-3 { background-image: url(/assets/images/stars-3@2x.png); }
        .stars-4 { background-image: url(/assets/images/stars-4@2x.png); }
        .stars-5 { background-image: url(/assets/images/stars-5@2x.png); }
        
        p {
            text-align: right;
            font-size: 20px;
            color: #B4B4B4;
            line-height: 28px;
            padding-bottom: 20px;
            margin-right: 0;
        }
    }
}

#gift-subscription-boxes .box {
    
    h3 {
        padding-top: 25px;
        font-size: 28px;
        text-align: center;
        margin-bottom: 10px;
        padding-bottom: 0;
    }
    p {
        font-size: 26px;
        line-height: 34px;
        margin: 0 40px 35px 40px;
        padding: 0;
        color: #B4B4B4;
        text-align: center;
    }
    .button {
        padding: 0 50px;
        margin-bottom: 50px;
    }
    p.price {
        color: #774D9B;   
    }
}

/* responsive */
@media screen and (max-width: 1240px) { 
    
}

@media screen and (max-width: 640px) { 
    .box {
        margin-bottom: 30px;
    }
    .box-review {
        p { padding: 0; }
        .rating { 
            margin: 0;
            p { 
                margin: 8px 0 5px 40px; 
                text-align: left;
                float: none;
            }
            .stars {
                margin: 5px 0 0 0;
                float: none;
                margin-left: 40px;
                display: block;
            }
            display: block; 
        }
    }
}