.box {
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 16px;
    
    img {
        width: 194px;
        height: 166px;
    }
    
    p {
        color: #292929;
        margin: 20px 40px 0 40px;
        padding-bottom: 40px;
    }
}