.button {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    display: inline-flex;
    cursor: pointer;
}

/* styles */
.button-main {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6879e4+0,7550a8+100 */
    background: #6879e4; /* Old browsers */
    background: -moz-linear-gradient(left, #6879e4 0%, #7550a8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6879e4 0%,#7550a8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6879e4 0%,#7550a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6879e4', endColorstr='#7550a8',GradientType=1 ); /* IE6-9 */
}
.button-main-white {
    background: #fff;
    color: #292929;
}
.button-main:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6879e4+0,7550a8+100 */
    background: #6868E0; /* Old browsers */
    background: -moz-linear-gradient(left, #6868E0 0%, #753A9D 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6868E0 0%,#753A9D 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6868E0 0%,#753A9D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6868E0', endColorstr='#753A9D',GradientType=1 ); /* IE6-9 */
}

.button-secondary {
    border: 1px solid #fff;
    
    .button-arrow {
        position: relative;
        background-image: url(/assets/images/button-arrow@2x.png);
        width: 5px;
        height: 50;
        right: -10px;
        background-size: 5px 9px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
}

.button-secondary-white {
    color: #B3B3B3;
    border: 1px solid #C8C8C8;
    
    .button-arrow {
        position: relative;
        background-image: url(/assets/images/button-arrow-grey@2x.png);
        width: 4px;
        height: 44;
        right: -10px;
        background-size: 4px 8px;
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
}

.button-secondary-white-filled {
    color: #292929;
    background: #fff;
    border: none;
}

.mailing-list-button {
    background: #292929;
    color: #fff;
}

/* sizes */
.button-large {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    letter-spacing: 1.6px;
    font-size: 14px;
    padding: 0 50px;
}

input.large-button {
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    letter-spacing: 1.6px;
    font-size: 14px;
    padding: 0 20px;
    border: none;
    float: left;
    margin: 0 0 0 15px;
}

.button-medium {
    height: 44px;
    line-height: 44px;
    border-radius: 44px;
    letter-spacing: 1.6px;
    font-size: 12px;
    padding: 0 30px;
}

.button-small {
    height: 36px;
    line-height: 36px;
    border-radius: 36px;
    letter-spacing: 1.3px;
    font-size: 11px;
    padding: 0 25px;
}

/* layout */
.button-center {
    margin: 0 20px;
    text-align: center;
}

.button-left {
    margin: 0;
}

.button-right {
    float: right;
}