#cart-toggle {
    position: relative;
    top: 3px;
    right: 0;
    width: 21px;
    height: 20px;
    z-index: 10000;
    cursor: pointer;
    .cart-icon {
        position: absolute;
        left: 0;
        width: 16px;
        height: 20px;
        background-image: url(/assets/images/cart-icon@2x.png);
        background-size: 16px 20px;
        background-position: 0 0;
        background-repeat: no-repeat;
    }
    span {
        display: block;
        padding: 0 0 0 0;
        position: absolute;
        right: 0;
        padding-top: 2px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        letter-spacing: 0;
        text-transform: uppercase;
        font-weight: 500;
        color: #fff;
        text-align: right;
    }
}

#cart-toggle:hover {
    opacity: .85;
}

.scroll#cart-toggle {
    
}