#cart-toggle {
    width: 50px;
    height: 70px;
    background: #774C9B;
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -35px;
    z-index: 10000;
    box-shadow: 0 0 20px rgba(0,0,0,.08);
    border-radius: 4px 0 0 4px;
    background-image: url(/assets/images/cart-icon@2x.png);
    background-size: 18px 16px;
    background-position: 57% 70%;
    background-repeat: no-repeat;
    cursor: pointer;
    span.count {
        display: block;
        margin-top: 12px;
        font-size: 16px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        width: 100%;
        font-weight: 500;
        color: #fff;
        text-align: center;
        width: 100%;
    }
}