#cta {
    
    padding: 50px 0;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6879e4+0,7550a8+100 */
    background: #6879e4; /* Old browsers */
    background: -moz-linear-gradient(left, #6879e4 0%, #7550a8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6879e4 0%,#7550a8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6879e4 0%,#7550a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6879e4', endColorstr='#7550a8',GradientType=1 ); /* IE6-9 */
    
    h3 {
        color: #fff;
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    p {
        color: rgba(255,255,255,.35);
    }
}

@media screen and (max-width: 640px) { 
    #cta {
        padding: 40px 0;
        .half img {
        }
        h3 {
            font-size: 30px;
            line-height: 38px;
            padding-top: 20px;
        }
        .button { margin-bottom: 10px; }
    }
}