header {
    position: absolute;
    padding: 34px 0;
    
}


nav {    
    float: right;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    width: auto;
    font-weight: 500;
    a {
        color: #fff;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 4px;
        margin: 0 0 0 30px;
        
    }
    
    span.new {
        display: inline-block;
        height: 22px;
        background-color: #EF623B;
        border-radius: 22px;
        font-size: 10px;
        float: right;
        line-height: 22px;
        padding: 0 8px;
        margin-left: 4px;
    }
}
    
    