header {
    position: absolute;
    padding: 34px 0;
    
    #logo {
        float: left;
        width: 102px;
        height: 35px;
        margin-top: -8px;
        background: url(/assets/images/QCC-logo@2x.png);
        background-size: 102px 35px;
    }
    
    #menu-button {
        display: none;
        float: right;
        width: 50px;
        height: 25px;
        background: #fff;
    }
    
}


nav {    
    float: right;
    font-size: 12px;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    width: auto;
    font-weight: 500;
    a {
        color: #fff;
        display: inline-block;
        height: 22px;
        line-height: 22px;
        padding: 0 4px;
        margin: 0 0 0 25px;
        font-size: 12px;
        
    }
    
    a:hover {
        color: rgba(255,255,255,.85);
    }
    
    span.new {
        display: inline-block;
        height: 22px;
        background-color: #EF623B;
        border-radius: 22px;
        font-size: 10px;
        float: right;
        line-height: 22px;
        padding: 0 8px;
        margin-left: 4px;

    }
}
    
    
@media screen and (max-width: 1240px) { 
    header {
        nav {
            display: none;
        }
        #menu-button {
            display: inline-block;
        }
    }
}