.hero, .hero-sub {
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        padding: 0 225px;
        margin-bottom: 40px;
    }
}

.hero-sub {
    height: 600px;
    
    h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    p { 
        color: #fff;
        line-height: 28px; 
        margin-bottom: 20px;
        text-align: center;
    }
    
    p.small { 
        font-size: 20px;
        line-height: 28px;
        margin-right: 10px;
    }
}

/* images */
#hero-landing {
    background: grey;
    background-image: url(/assets/images/hero/hero-landing@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-pricing {
    background: grey;
    background-image: url(/assets/images/hero/hero-landing@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
    select {
        height: 36px;
        line-height: 36px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        color: white;
        font-size: 20px;
        font-weight: 600;
        padding: 0 35px 0 20px;
        background: #A68ABD;
        color: #fff;
        border: none;
        border-radius: 36px;
        background-image: url(/assets/images/select-white@2x.png);
        background-size: 11px 16px;
        background-repeat: no-repeat;
        background-position: 72% 50%;
    }
    select:focus {
        outline: none;
    }
    .box {
        width: 450px;
    }
    .price, p, li {
        font-size: 24px;
        color: #B5B5B5;
        .amount { 
            color: #292929;
            font-size: 64px; 
        }
    }
    p, ul { margin: 0; padding: 0; }
    ul { margin: 0 0 30px 0; text-align: center; }
    li { 
        color: #292929; 
        .plural { 
            display: none; 
        }
        .plural.visible { 
            display: inline; 
        }
    }
    .price { 
        padding: 50px 0 0 0;
        margin-bottom: 40px;
        align-items: baseline;
    }
    p.highlight {
        line-height: 24px;
        color: #774D9B;
        font-size: 14px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        font-weight: 600;
        padding-bottom: 40px;
        .circle {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #D0C1DC;
            margin: 10px 15px 0 15px;
        }
    }
    .button { padding: 0 100px;}
    
}

#hero-how-it-works {
    background: grey;
    background-image: url(/assets/images/hero/hero-gift-subscriptions@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-about {
    background: grey;
    background-image: url(/assets/images/hero/hero-gift-subscriptions@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-contact {
    background: grey;
    background-image: url(/assets/images/hero/hero-gift-subscriptions@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-our-coffee {
    background: grey;
    background-image: url(/assets/images/hero/hero-gift-subscriptions@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-gift-subscriptions {
    background: grey;
    background-image: url(/assets/images/hero/hero-gift-subscriptions@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

#hero-reviews {
    background: grey;
    background-image: url(/assets/images/hero/hero-reviews@2x.jpg);
    background-size: cover;
    background-position: 50% 50%;
    
    .stars {
        width: 144px;
        height: 24px;
        background-size: 144px 22px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    .stars-4-8 {
        background-image: url(/assets/images/hero/hero-stars-4.8@2x.png);
    }
    
    .details-i {
        width: 18px;
        height: 18px;
        background-size: 18px 18px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-image: url(/assets/images/hero/hero-details-i@2x.png); 
        margin-left: 8px;
    }
    #reviews-total { 
        margin: 0 auto;
        position: relative;
        cursor: pointer; 
        height: 18px;
        line-height: 18px;
        p { 
            margin: 0;
            padding: 0; 
            line-height: 18px; 
        }
    }
    .reviews-explanation {
        z-index: 10000;
        box-shadow: 0 0 20px rgba(0,0,0,.08);
        display: none;
        position: absolute;
        left: 50%;
        box-sizing: border-box;
        width: 350px;
        margin: 20px 0 0 -175px;
        background: #fff;
        border-radius: 4px;
        text-align: center;
        padding: 20px;
        line-height: 20px;
            
        .tail {
            background: #fff;
            position: absolute;
            top: -5px;
            left: 50%;
            margin-left: -8px;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            transform: rotate(45deg);
        }
            
    }
    .reviews-explanation.visible { display: block; }
}

@media screen and (max-width: 1240px) { 
    .hero, .hero-sub {
        h1 {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 640px) { 
    .hero, .hero-sub {
        height: 550px;
        h1 { 
            text-align: center;
            font-size: 34px;
            line-height: 38px;
            padding: 0;
            margin-top: 60px;
        }
        p {
            padding: 0 30px;
        }
    }
    .hero-sub { height: 400px; }
    .center {
        display: block; 
        
        a.button {
            width: 260px;
            padding: 0;
            display: block;
            margin: 0 auto 20px auto;
            text-align: center;
        }
    }
    #hero-reviews {
        .center {
            text-align: center;
            .stars, p, .details-i { display: inline-block; margin: 0; padding: 0;}
            p { margin-bottom: 20px; }
            .details-i { margin: 0 0 -2px 8px; }
        }
        #reviews-total {
            height: 20px;
            padding: 0;
            margin: 0;
        }
    }
    #hero-pricing {
        height: 630px; 
        text-align: center;
        .box { 
            margin-top: 100px;
            width: 100%; 
        }
        .button { padding: 0; }
        p.highlight {
            .circle {
                margin: 0 8px
            }
        }
    }
}