<!DOCTYPE html>
<html ⚡ lang="en">
  {% include head.html %}
  <body>
    {% include cart-toggle.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    {% include analytics.html %}
    {% include js.html %}
    {% include plasso-business.html %}
    {% minibundle js %}
        source_dir: _scripts
        destination_path: /js/site
        baseurl: '{{ site.baseurl }}'
        assets:
            - jquery.waitforimages.min
            - masonry.pkgd.min
            - main
    {% endminibundle %}
  </body>
</html>
